app/src/main/java/com/example/learn_opentok_android/ApiConfig.java
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/src/main/java/com/example/learn_opentok_android/MyApiConfig.java